# Eclipse specific
.metadata/
.plugins/
.recommenders/
.settings/
.project
.classpath

# Java (Generados por compilación y empaquetado)
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log
*.jmh
hs_err_pid*
replay_pid*
*.hprof

# Directorios de construcción comunes
target/
build/
bin/

# Intellij specific (Por si alguno de tus compañeros usa IntelliJ)
.idea/
*.iml
*.ipr
*.iws
out/

# Haskell (Por si acaso hay archivos de Haskell en el proyecto)
*.hi
*.o
*.dyn_hi
*.dyn_o
dist/
dist-newstyle/
cabal.sandbox.config
cabal.sandbox.config.lock
cabal.project.local
cabal.project.local~
cabal.project.freeze
cabal.project.freeze~
.stack-work/
.stack-work/*

# Prolog (Por si acaso hay archivos de Prolog en el proyecto)
*.qlf
*.sav
*.db

# Common files (Archivos temporales, de sistema operativo, etc.)
*.log
*.tmp
*.temp
*.swp
.DS_Store
*.sublime-workspace
*.sublime-project
.vscode/
*.log
*.aux
*.toc
*.out
*~
